* {
    box-sizing: border-box;
  }

@font-face {
font-family: A La Russ;
src: url(fonts/Alarus.ttf); 
}

/* body{
    background: skyblue;

} */
h1 {
    margin-bottom: 15px;
    font-family: A La Russ, 'Comic Sans MS', cursive;
    text-align: center;
    font-size: 40px;
    color: red;
    /* text-shadow: whitesmoke 0 0 2px; */
}

.clearfix{
    clear: both;
}

.site_name{
    position: absolute;
    right:0;
    top:0;
    padding: 3px;
    background-color: skyblue;
    border-left: olive 3px solid;
    border-bottom: olive 3px solid;
    border-bottom-left-radius: 5px;
    font-size: 24px;
    font-weight: 600;
} 

#skyline {
    width: 100%;
}

div{
    position: relative;
} 

p{
    padding-bottom: 0;
    font-size: 20px;
}

#paragraph1, #paragraph2, #paragraph3{
    padding: 20px 10px 0px 10px;
    border: rgb(216, 216, 7) 5px outset;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-12 {
    padding: 0 10px 0 10px;
    float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-12 {
      width: 100%;
    }
}

  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6,.col-md-12 {
        padding: 0 10px 0 10px;
      float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
}