body{
    background-color: #9E2525;    
}

#header-nav{
    background-color:#D0C5B3;
    border-radius: 0;
    border: 0px;
    color: #6F4E37;
}

#logo-img{
    background: url("../images/logo_notext.png") no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 0 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1{
    font-family: "Poppins", serif;
    color: #9E2525;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 15px;
}

#nav-list a {
    color: #9E2525;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a {
    text-align: right;
    font-family: "Poppins", serif;
    font-size: .75em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
border: 1px solid #9E2525;

}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

#collapsable-nav a {
    font-size: 1.4em;
}

#collapsable-nav a span{
    font-size: 1em;
    margin-right: 5px;
}

.container .jumbotron{
    box-shadow: 0 0 50px #6e0505;
    border: 2px solid #6e0505;
}


#menu-tile, #events-tile, #map-tile{
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #6e0505;
    overflow: hidden;
}

#menu-tile:hover, #events-tile:hover, #map-tile:hover{
    box-shadow: 0 1px 5px #E7E7E7;
}

#menu-tile{
    background: url(../images/capuccino.jpg) no-repeat;
    background-position: center;
}

#events-tile{
    background: url(../images/event.jpg) no-repeat;
    background-position: center;
}

#menu-tile span, #events-tile span, #map-tile span{
    position: absolute;
    bottom: 0;
    right:0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #D0C5B3;
    color: #9E2525;
    opacity: .8;
}

#map-tile span {
    opacity: 1;
}

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #413422;
    color: #D0C5B3;
    border-top: 2px solid #D0C5B3;
}

.panel-footer a span {
    color: #B46F0A;
    white-space: nowrap;
}
.panel-footer a span:hover {
    color: #B46F0A;
    text-decoration: underline;
}
.panel-footer a span:visited {
    color: #B46F0A;
    text-decoration: none;
}
.panel-footer section {
    line-height: 1.8;
}
.panel-footer div.row {
    margin-bottom: 45px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 1200px){
    .container .jumbotron {
        background: url(../images/jumbotron_tower1_1200.jpeg) no-repeat;
        height:800px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .container .jumbotron {
        background: url(../images/jumbotron_tower1_992.jpg) no-repeat;
        height:662px;
    }
    
        #nav-list {
            margin-top: -80px;
        }
}

@media (min-width: 768px) and (max-width: 991px){
    .container .jumbotron {
        background: url(../images/jumbotron_tower1_768.jpeg) no-repeat;
        height:512px;
    }

}

@media (max-width: 767px){

    .navbar-brand{
        padding-top: 10px;
    }
    
    .navbar-brand h1 {
        font-size: 7vw;
    }

    .container .jumbotron {
        padding: 0;
    }

    .panel-footer section {
        text-align: center;
    }

    .panel-footer section hr {
        width: 30%;
        color: #D0C5B3
    }
}
/* .container{
    background-color: #E0C1B3;
} */

/* 
#B22222 - brick
#6F4E37 - coffee
#D89A9E - розоватый
#AEB4A9 - болотный
#E0C1B3 - пенка
 */